<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&subset=latin,cyrillic">
    <title>test</title>
     {% block script %}
     {% endblock %}
</head>
<body>
    <header>
        <a class="logo" href="{{ url_for('home') }}">главная страница</a>
        <a class="logo" href="{{ url_for('flights') }}">онлайн-табло</a>
        <a class="logo" href="{{ url_for('personal_area') }}">личный кабинет</a>
        <a class="logo" href="{{ url_for('login') }}">войти</a>

    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <span>2022</span>
        <a class="logo" href="{{ url_for('settings') }}" inline style="position: fixed; right: 0; bottom: 7px; ">для персонала</a>
    </footer>
</body>
</html>