{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <h2>{{ message }}</h2>
            {% endfor %}
          {% endif %}
        {% endwith %}

    {% if current_user.get_id() == '1' %}
        <form action="{{ url_for('settings_confirmed_users') }}" class="settings" method="post">
            <button type="submit">Заявки на подтверждение аккаунта</button>
        </form>
        <form action="{{ url_for('settings_insurance') }}" class="settings" method="post">
            <button type="submit">Обновление страховки</button>
        </form>
        <form action="{{ url_for('settings_users') }}" class="settings" method="post">
            <button type="submit">Зарегистрированные пользователи</button>
        </form>
        <form action="{{ url_for('settings_flights') }}" class="settings" method="post">
            <button type="submit">Полеты</button>
        </form>
        <form action="{{ url_for('settings_delete_personal_info') }}" class="settings" method="post">
            <button type="submit">Удалить заявки</button>
        </form>

    {% endif %}

    <a href="{{ url_for('logout') }}">Выйти из аккаунта</a>

{% endblock %}