{% extends "base.html" %}

{% block content %}

<table border="1px solid">
    <caption>Заявки</caption>
    <tr><th>ID_заявки</th><th>Имя</th><th>Фамилия</th><th>Паспорт</th><th>Логин</th><th>ID_пользователя</th></tr>
        {% for i in range(list_confirmed|length) %}
            <tr><td>{{ list_confirmed[i].id}}</td>
                <td>{{ list_confirmed[i].name }}</td>
                <td>{{ list_confirmed[i].surname }}</td>
                <td>{{ list_confirmed[i].passport }}</td>
                <td>{{ list_users[i] }}</td>
                <td>{{ list_confirmed[i].id_users_by }}</td></tr>
        {% endfor %}
</table>

<table border="1px solid">
    <caption>Страховка</caption>
    <tr><th>ID_страховки</th><th>Период (мес.)</th><th>Стоимость</th></tr>
    <tr><td>{{ list_insurance[0].id }}</td><td>{{ list_insurance[0].period }}</td><td>{{ list_insurance[0].cost }}</td></tr>
    <tr><td>{{ list_insurance[1].id }}</td><td>{{ list_insurance[1].period }}</td><td>{{ list_insurance[1].cost }}</td></tr>
    <tr><td>{{ list_insurance[2].id }}</td><td>{{ list_insurance[2].period }}</td><td>{{ list_insurance[2].cost }}</td></tr>
    <tr><td>{{ list_insurance[3].id }}</td><td>{{ list_insurance[3].period }}</td><td>{{ list_insurance[3].cost }}</td></tr>
    <tr><td>{{ list_insurance[4].id }}</td><td>{{ list_insurance[4].period }}</td><td>{{ list_insurance[4].cost }}</td></tr>
</table>

    <h2>Подтвердить аккаунт</h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <span inline style="color: red; background: white; border: 1px solid #211470">{{ message }}</span>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('settings_confirmed_users') }}" class="confirmed">
            <div class="container">
                <label>ID_пользователя</label>
                <input type="text" name="id_users" required>

                <label>ID_заявки</label>
                <input type="text" name="id_personal" required>

                <label>ID_страховки</label>
                <input type="text" name="id_insurance" required>

                <label>Дата покупки страховки</label>
                <input type="date" name="date_buy" required>

            </div>
            <button type="submit">Подтвердить</button>
        </form>



{% endblock %}